._toast {
    width: 200px;
    z-index: 2000;
}

.dt-button-info {
    margin-top: 5px;
    position: absolute;
    z-index: 8000;
    color: black;
    width: auto;
    border: solid 1px rgb(153, 202, 231);
    background: rgb(153, 202, 231);
    border: 5px outset rgb(153, 202, 231);
    border-radius: 10px;
    width: 230px;
    text-align: center;
    font-size: initial;
}